elpa/
games/
custom.el*
README.el*
tramp
auto-save-list/
transient/
backups/
projectile*
.lsp-session*
eln-cache/
image-dired/
network-security.data
mu4e-bookmarks.data
mu4e-contexts.data
elfeed-feeds.data
bookmarks
init.elc
var/
xkcd/
racket-mode/
session.*
tree-sitter

